# Database (PostgreSQL)
# Use Neon (remoto) ou PostgreSQL local
DATABASE_URL="postgresql://user:password@localhost:5432/nordil_erp?sslmode=require"
DIRECT_URL="postgresql://user:password@localhost:5432/nordil_erp?sslmode=require"

# NextAuth
AUTH_SECRET="gerar-uma-chave-secreta-aleatoria-pelo-menos-32-caracteres"
